header{
    background-image: url(./img/pattern.png);
    background-color: rgba(99, 158, 248, 1);
}

#logo{
    height: 30px;
    margin-top: 60px;
    margin-left: 20px;
}

#autore,#data {
    color: lightgrey;
    font-size: 12px;
}
div > a{
    text-decoration: none;
    color: rgba(99, 158, 248, 1);
}

#photos>img{
    height: 280px;

}

.photo-description{
    font-size: 10px;
}

section>p{
    font-size: 12px;
}

ul{
    font-size: 11px;
    padding-left: 4px;
    padding-top: 8px;
}

p>span{
    background-color: yellow;
}

table{
    font-size: 10px;
}
.riga1-2{
    width: 25%;
}

table{
    border-spacing: 0px;
}

thead{
    background-color: rgba(81, 167, 224, 1);
}

tbody{
    background-color: rgba(188, 228, 240, 1);
}